.title {
  margin-bottom: 1rem;
  text-align: center;
}

.secondaryTitle {
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.paragraph {
  margin-bottom: 1rem;
}

.ruleList {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  padding-inline-start: 1.5rem;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border: 0.0625rem solid transparent;
  border-radius: 0.5rem;
  background-color: var(--dark-gray);
}

.link {
  text-decoration: underline;
}
