@use '../../../styles/mixins/media-breakpoints' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 250;

  h1 {
    margin-bottom: 0;
  }
}

.menuButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--white);
  padding: 0.75rem;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-gray);
  max-width: 75rem;
  margin: 0 auto;
  padding: 0.5rem;

  @include media-breakpoint-up('lg') {
    padding: 1rem 2rem;
  }
}

.left,
.right {
  flex-grow: 1;
  flex-basis: 0;
}

.right {
  text-align: right;
  display: flex;
  justify-content: right;
  padding-top: 0.25rem;
  padding-right: 0.5rem;
}
