@use '@/styles/mixins/_media-breakpoints.scss' as *;

.leaderBoard {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;

    @include media-breakpoint-up('md') {
      padding: 0 2rem;
    }
  }

  .totalScore {
    margin-left: auto;
  }
}
